<html>
  <head>
    <title>Chat</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="chatbox">
      {{ .UserData.name }}:
      <br>
      <textarea></textarea>
      <input type="submit" value="Send" />
    </form>

    <script>
      window.onload = function() {
        var socket = null;
        var chatbox = document.getElementById("chatbox");
        var msgBox = chatbox.getElementsByTagName("textarea")[0];
        var messages = document.getElementById("messages");

        chatbox.onsubmit = function(evt) {
          evt.preventDefault();
          if (!msgBox.value) {
            return false;
          }

          if (!socket) {
            alert("Error: There is no socket connection.");
            return false;
          }

          socket.send(JSON.stringify({"Message": msgBox.value}));
          msgBox.value = "";
          return false;
        }

        if (!window["WebSocket"]) {
          alert("Error: Your browser does not support web sockets.");
        } else {
          var protocol = ('https:' == document.location.protocol ? 'wss://' : 'ws://');
          socket = new WebSocket(protocol+"{{.Host}}/room");

          socket.onclose = function() {
            alert("Connection has been closed");
          }
          socket.onmessage = function(evt) {
            var msg = JSON.parse(evt.data);

            var msgContainer = document.createElement('li');
            var msgUser = document.createElement('strong');
            var msgText = document.createElement('span');
            msgUser.innerHTML = msg.Name + ": ";
            msgText.innerHTML = msg.Message;

            msgContainer.appendChild(msgUser);
            msgContainer.appendChild(msgText);
            messages.appendChild(msgContainer);
          }
        }
      }
    </script>
  </body>
</html>
